[Unit]
Description=Mincraft Server
After=network.target minecraft.socket
StartLimitIntervalSec=0
Requires=minecraft.socket

[Service]
Sockets=minecraft.socket
StandardInput=fd:minecraft.socket
StandardOutput=null
StandardError=inherit
Restart=always
RestartSec=10
WorkingDirectory=%h/minecraft
ExecStart=%h/minecraft/run.sh

[Install]
WantedBy=default.target
